<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <from name="user" method="post" action="/register/">
        <input type="text" name="i" placeholder="ism kiriting" >
        <input type="text" name="t" placeholder="tugulgan sana" >
        <input type="text" name="m" placeholder="maqolalar sonini kiriting" >
        <input type="text" name="u" placeholder="userni kiriting" >
        <input type="text" name="p" placeholder="parol kiriting" >
        <button type="submit">Register</button>
    </from>
</body>
</html>